.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1900px;
}
.container-weather{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 0 0 51px #3333;
    list-style-type: none;
    border: 1px slategrey;
    background: linear-gradient(#bdc3c7, #2c3e50);
    border-radius: 5px;
    color: azure;
    opacity: 0;
    margin-top: 3%;
}

.container-weather-active{
    margin-top: 7%;
    opacity: 0.7;
    transition: opacity, margin-top, 700ms ease-in-out;
}
.item-weather {
    margin: 8px;
    border-bottom: 1px solid #3333;
}
.main-info{
    font-size: 30px;
}
body {
    font-family: 'Yaldevi', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(241, 241, 233);
    margin: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-header{
    color: #355C7D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.container-header a{
    font-family: 'Ephesis', cursive;
    font-size: 25px;
    text-decoration: none;
}

.item-container__header{
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    height: 30px;
    position: relative;
}
.item-container__header:after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #242222;
    content: '';
    transition: width 0.3s ease-in;
}
.item-container__header:hover:after,
.item-container__header:focus::after {
    width: 100%;
}

.container-preloader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(44, 41, 41, 0.2);
    z-index: 1001;
}

.preloader-active {
    display: inline-block;
    margin: 0 auto;
    background-image: url('storm.gif');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.item-search__header{
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1 1 250px;
    background: rgba(57, 63, 84, 0.8);
    max-width: 250px;
    border-radius: 2px;
    padding: 3px;
    z-index: 0;
}
.item-search__header:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 2px;
    background-size: 500% auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}
.inputSearch {
    flex-grow: 1;
    color: #7881A1;
    vertical-align: middle;
    transition: color 250ms;
    background: rgba(57, 63, 84, 0.8);
    border: none;
}
.inputSearch:focus{
    outline: none;
}
.inputSearch:hover{
    color: #BFD2FF;
}
@keyframes gradient {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}

.inputSearch:focus::after {
    box-shadow: 0 0 5px #5482aa;
    border-top: 1px solid #756186;
}
.btn-submit {
    padding: 14px;
    background: rgba(57, 63, 84, 0.8);
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    border: none;
    color: rgb(241, 241, 233);

}
.btn-submit:hover{
    box-shadow: 0 0 5px #756186;
    opacity: 0.8;
}
.icon-right{
    background-image: url('arrow-right.svg');
    width: 100%;
    height: 100%;
}
/*темная тема*/

.theme {
    position: fixed;
    cursor: pointer;
    top: 10%;
    left: 2.5%;
    transform: translateY(-50%);
    padding: 4px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}
.geolocation-blue {
    position: fixed;
    width: 35px;
    height: 35px;
    cursor: pointer;
    top: 18%;
    left: 2.5%;
    transform: translateY(-50%);
    padding: 5px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}
@keyframes anima {
    0% {transform: translateY(125px);}
    50% {transform: translateY(-45px);}
    100% {transform:translateY(35px) ;}
}

.containerErr{
    width: 200px;
    height: 40px;
    background: linear-gradient(#FF416C, #FF4B2B);
    text-align: center;
    margin: 5% auto;
    padding: 5px;
    position: relative;
    animation: anima ease-in-out 1s;
    box-shadow: 0 0 5px #FF4B2B;
}
.preview {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #355C7D;
    z-index: 1001;
    margin: 0 auto;
}
.preview h1 {
    opacity: 100%;
    font-size: 88px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    line-height: 60vh;
}
.btn-preview {
    display: block;
    position: relative;
    width: 135px;
    height: 40px;
    margin: 0 auto;
    background: #EF4E5D;
    border: none;
    box-shadow: 0 0 25px rgb(255, 89, 139);
    border-radius: 5px;
    color: #bdc3c7;
}
.btn-preview:hover{
    background: #fa5061;
    box-shadow: 0 0 40px rgb(255, 89, 139);
    color: #ffffff;

}
.popup-animation{
    animation-name: popupAnimation;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-duration: 1.5s;

}
.preview-disable{
    animation-name: btn-animation;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 2s;
}

@keyframes popupAnimation {
    0% {opacity: 0.8}

    90%{
        height: 0;
        opacity: 0;
    }
    100%{display: none}
}

@keyframes btn-animation {
    0%{
        opacity: 0.6;
    }
    50%{
        transform: translateY(250px);
        opacity: 0.4;
    }
    90% {
        opacity: 0;
    }
    100%{display: none}
}
